<div class="contact">
  <div class="contact__heading">
    <div class="contact__heading__header">
      Get In Touch With Us
    </div>
    <div class="contact__heading__info">
      Contrary to popular belief, Lorem Ipsum is not simply random text. <br>
      It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    </div>
  </div>
  <div class="contact__body">

    <!-- Contact Info -->
    <div class="contact__info">
      <div class="info">
        <div class="info__header">
          <img src="../../../assets/img/contact-icons/placeholder.png" alt="placeholder">
          <div>Address</div>
        </div>
        <div class="info__text">
          330 East 49th St, <br>
          New York, NY, 10017
        </div>
      </div>
      <div class="info">
        <div class="info__header">
          <img src="../../../assets/img/contact-icons/phone.png" alt="phone">
          <div>Phone</div>
        </div>
        <div class="info__text">
          +1 (929) 527-5449 <br>
          +1 (718) 200-7221
        </div>
      </div>
      <div class="info">
        <div class="info__header">
          <img src="../../../assets/img/contact-icons/email.png" alt="email">
          <div>Email</div>
        </div>
        <div class="info__text">
          info@copalany.com
        </div>
      </div>
    </div>

  </div>
</div>
