@import 'variables';
@import 'mixins';

.notification {
  margin-top: 150px;
  margin-bottom: 15px;

  &__header {
    font-size: 24px;
    color: $greyColor;
    margin-bottom: 30px;
  }

  &__subheader {
    font-size: 16px;
    color: $greyColor;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__card {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    margin-bottom: 20px;
  }

  &__content {

    .just-row {
      display: flex;
      border-bottom: 1px solid #e7e7e7;
      padding: 20px 16px;
      align-items: center;
    }

    &__icon {
      padding: 15px 15px 7px 10px;

      img {
        width: 28px;
      }
    }

    &__header {
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 400;
      color: $greyColor;
    }

    &__date {
      font-size: 14px;
      font-weight: 400;
      color: #adadad;
    }
  }
}
