<div class="about">
  <div class="about__heading">
    <div class="about__heading__header">
      Our Mission
    </div>
    <div class="about__heading__info">
      Our mission is to ease owner and tenant rental experience
    </div>
  </div>
  <!-- About Body -->
  <div class="about__body">
    <div class="w-50">
      <div class="about__body__text">
        <div class="header">
          Story
        </div>
        <div class="content">
          It is hard to find a service that makes it profitable to convert rental apartments into homes when the owner gets the best value for the expense and the tenant pays a rent just for what is needed.
        </div>
      </div>
      <div class="about__body__text">
        <div class="header">
          Solution
        </div>
        <div class="content">
          Copala provides a transparent platform and nationwide trained crew for converting your properties into homes for the renters. No middlemen, no unnecessary expenses, our Super Teams renovate and improve just what is needed to make property a home for everybody. All details are considered by professional valuators and designers.
        </div>
      </div>
      <div class="about__body__text">
        <div class="header">
          Transparent process and fair pricing
        </div>
        <div class="content">
          On our platform you can select a condition of you apartment, and get the quote instantly, when it can be started and finished, no extra cost just what the Super Team needs to convert your apartment into the home ready for rent, renovated what is just necessary, unfurnished or furnished anytime you need to meet your tenants’ need. Home is ready so fast that the necessary expenses are just recovered in the first month of rent. And the first month starts in a week.
          We train professionals as licensed Super Teams, they follow the best practices. You monitor the progress and get renovated turn key home, floor plan with the best furniture arrangement and fit, VRT, photos and visual access instructions.
          We know and propose just what needs to be renovated for the best value for renters and owners.
        </div>
      </div>
    </div>
    <div class="about__body__img">
      <div>
        <img src="../../../assets/img/about-us.webp" alt="about-us">
      </div>
    </div>
  </div>
</div>
