@import 'variables';
@import 'mixins';

.loading-spinner {
  position: relative;
}

.no-projects {
  margin-top: 25px;

  img {
    width: 8%;
  }

  span {
    font-size: 18px;
  }
}

.card {
  cursor: pointer;
  border: 1px solid #ebedf3;
  background-color: #fff;
  background-image: url("../../../assets/img/contract.png");
  background-size: 140px 140px;
  background-repeat: no-repeat;
  background-position: 100%;
  transition: all .5s;

  &__body {
    padding: 1.75rem 2rem;
  }

  &__title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #9c9c9c;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 400;
    color: #adadad;
  }

  &__info {
    margin-top: 15px;

    span {
      margin-top: 5px;
    }

    &__main {
      font-size: 14px;
      font-weight: bold;
    }

    &__content {
      font-size: 14px;
      color: $greyColor;
    }
  }

  &__text {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    color: $greyColor;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  }
}

.load-button {
  text-align: center;

  .load-more {
    @include orange-button;
    margin-bottom: 35px;
  }
}

::ng-deep .loading-spinner.projects-spinner .ngx-spinner-overlay {
  margin-top: 100px;
}

///// Responsive /////
@media only screen and (min-width: 1280px) {
  .card {
    @include grid(3, 2%);
  }
}
@media only screen and (max-width: 1280px) {
  .card {
    @include grid(2, 2%);
  }
}
@media only screen and (max-width: 768px) {
  .card {
    @include grid(1, 2%);
  }
}
