.layout {
  width: 78vw;
  margin: auto;
}

///// Responsive /////
@media only screen and (max-width: 1600px) {
  .layout {
    width: 88vw !important;
  }
}

@media only screen and (max-width: 1536px) {
  .layout {
    width: 90vw !important;
  }
}

@media only screen and (max-width: 1440px) {
  .layout {
    width: 92vw !important;
  }
}

@media only screen and (max-width: 1366px) {
  .layout {
    width: 94vw !important;
  }
}

@media only screen and (max-width: 1280px) {
  .layout {
    width: 96vw !important;
  }
}
