

// Home Page Slider
@keyframes shopNowButton {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes textHeader {
  0% {
    opacity: 0;
    transform: translate(350px);
  }
  40% {
    opacity: 0;
    transform: translate(350px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes textInfo {
  0% {
    opacity: 0;
    transform: translate(350px);
  }
  30% {
    opacity: 0;
    transform: translate(350px);
  }
  97% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes sliderFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

// Home Page Heading
@keyframes HomePageHeading {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
