$ivoryBackgroundColor: #f5e5d7;

$orangeColor: #ebc858;
$orangeColorDarker: #cfae42;

$blackColor: #272829;
$greyColor: #6a6a6a;
$lightGrey: #e3e3e3;

$bootstrapDanger: #d9534f;
$bootstrapSuccess: #5cb85c;

$tbcCredit: #43b4ff;
$tbc: #00AEEF;
$tbcDark: #005DAA;
